run = "flutter run -d web --web-port=5001 --web-hostname=0.0.0.0"
modules = ["flutter"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "flutter run -d web --web-port=5001 --web-hostname=0.0.0.0"]